/*This stylesheet is for index4.html*/


div p {

background-color:antiquewhite;

}


div > p{

color:red;

}


div + p {

font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

color:cadetblue;

}

/* sudo element selectors */

a:hover{

font-size: large;

background-color:black;

}


section div p:first-child{

font-size: x-small;

}


input:focus{

background-color:blue;

}
section[id="sectionOne"] {

    border: 5px solid black;
    
    }

#box {padding: 50px;
    border: 10px dashed lightcoral;
    background-color: blueviolet;
    margin-top: 40px;
    margin-bottom: 500;
    width: 500px;
    height: 400px;
    text-align: center;
    font-size: larger;

}
